<!doctype html>
    <html lang="en">
    <head>
      <title>Running my first AI Demo</title>
      <link 
	  href= "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	  rel="stylesheet">
    </head>
    <body>
    <div class="site-wrapper">
        <div class="cover-container">
          <div class="inner cover">
          </div>
          <div class="mastfoot">
          <hr />
            <div class="container">
              <div style="margin-top:5%">
		            <h1 style="color:black">Missing Sonic Log Prediction Demo (GEOPHYSICS - submitted)</h1>
		            <h4 style="color:black">Upload a new LAS file with GR and Density logs to predict Sonic log. The method can only predict within an interval with samples length divided by 61. GR must be in API and Density must be in g/cc. The unit of predicted sonic is us/ft.</h4>
			    
		            <form method=post enctype=multipart/form-data action='/log/result'>
				    <p><input type=file name=file></p>
				    <p><input type=submit style="color:black;" value=Upload></p>
		            </form>
	            </div>	
            </div>
        	</div>
     </div>
   </div>
</body>
</html>
  
